# Bloquer l'accès direct à la racine
Options -Indexes

# Rediriger automatiquement vers /public/
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
